:root {
  --Azul: #014561;
  --Azul2: #00648C;
  --Dourado: #BE9667;
  --Cinza: #727272;
  --White: #FFF;
  --transition-padrao: all .4s linear;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

/*Header*/

html {
  scroll-behavior: smooth;
}

header .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 111px;
  width: 100%;
  position: fixed;
  background: linear-gradient(180deg, #000000 29.73%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent;
  transition: all .4s linear;
}

nav {
  margin-right: 40px;
}

header nav a {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-left: 25px;
  transition: all .4s linear;
  color: #949494;
  text-decoration: none;
}

header nav a:hover {
  color: var(--Azul2);
}

.menu-scroll {
  height: 63px;
  background: none;
  background-color: var(--White);
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.25);
}

.menu-scroll .logo {
  width: 78px !important;
}

.logo {
  display: block;
  width: 120px;
  margin-left: 45px;
  border-radius: 0px;
  color: white;
  transition: all .4s linear;
}

/*Primeiro  conteudo da pagina*/

.conteudo-header {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-primario {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/Banner_31.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

.h3-dourado {
  font-family: Playfair Display;
  font-size: 33px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Dourado);
  text-shadow: #000000;
}

.h3-dourado:nth-child(1) {
  margin-left: 110px;
  padding: 0px;
  height: 20px;
}

#h3-dourado {
  padding: 0px;
  margin-left: 220px;
  margin-bottom: 60px;
}

.h3-branco {
  text-align: start;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--White);
}

.div-h3-branco {
  margin-left: 100px;
  margin-bottom: 30px;
}

.h1-azul {
  width: 100px;
  height: 100px;
  font-family: Playfair Display;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #024B68AD;
  margin-left: 100px;
  padding: 0px;
}

.btn-orcamento {
  height: 50px;
  width: 297px;
  left: 0px;
  top: 0px;
  border-radius: 2px;
  color: #E5E5E5;
  background-color: var(--Azul);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s linear;
  margin-left: 100px;
}

.btn-orcamento:hover {
  border: 1px solid #BE9667;
  background-color: transparent;
}

/*Section empresa*/

.section-empresa {
  margin-bottom: 56px;
}

.section-empresa .sobre {
  display: flex;
  background-color: var(--White);
}

.div-img-empresa {
  background: url(../images/img-empresa.png);
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 183px;
  margin-left: 7%;
  margin-right: 7%;
}

.sobre {
  margin-bottom: 50px;
}

.sobre div {
  height: 370px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 6%;
}

.div-titulos .titulos {
  position: relative;
  font-family: Cormorant;
  font-size: 38px;
  width: 216px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px;
  color: var(--Azul);
  margin-bottom: 17%;
  top: 20%;
}

.div-titulos .titulos::after {
  content: "";
  height: 1px;
  width: 40px;
  background-color: var(--Azul2);
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  transition: var(--transition-padrao);
}

.div-titulos .titulos:hover::after {
  width: 100%;
  left: 0;
}

.sobre div p {
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 30px;
}

.sobre div cite {
  font-family: Cormorant;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: rgba(28, 134, 164, 1);
}

.renne-trajar {
  font-family: Cormorant;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: rgba(130, 130, 130, 1);
  margin-bottom: 2%;
  display: flex;
  align-items: flex-end;
  width: 96%;
}

.renne-trajar span {
  margin-left: 20px;
}

.sobre div a {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  padding: 12px 62px;
  width: 274px;
  border: 2px solid var(--Azul2);
  background-color: var(--White);
  color: var(--Azul2);
  box-shadow: inset 0em 0 0 0 var(--Azul2);
  transition: all .4s linear;
  text-decoration: none;
  display: inline-block;
}

.sobre div a:hover {
  box-shadow: inset 30em 0 0 0 var(--Azul2);
  color: var(--White);
}

/*avaliação*/

.avaliacao {
  background-image: url(../images/back.svg);
  width: 100%;
  padding: 120px 0;
  background-size: cover;
  z-index: -1;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frase {
  width: 624px;
  margin-left: 70px;
}

.frase cite {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 47px;
  color: #828282;
}

.frase h3 {
  font-family: Cormorant;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  line-height: 141%;
  text-align: center;
  /* Azul */
  color: #014561;
  margin-bottom: 6px;
}

.frase p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 141%;
  /* or 28px */
  text-align: center;
  /* Dourado */
  color: #BE9667;
}

/*selos*/

.selos {
  padding: 100px 94px;
  margin-bottom: 10px;
}

.selo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selo img {
  width: 36px;
  height: 36px;
  margin-left: 43%;
}

.selo h3 {
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 29px;
  color: #1C86A4;
  text-transform: uppercase;
  text-align: center;
}

.selo p {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #727272;
}

.linha-right {
  border-right: 1px solid #CCCCCC;
  width: 1px;
  height: 50px;
}

/*Imperdivel*/

.imperdivel {
  padding: 62px 94px;
  background-image: linear-gradient(180deg, rgba(0, 36, 50, 100) 0%, rgba(0, 36, 50, 0.97) 100%), url(../images/imperdivel-img.png);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.text-imperdivel h1 {
  font-family: Cormorant;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  text-transform: uppercase;
  color: #BE9667;
  margin-bottom: 40px;
}

.text-imperdivel h3 {
  font-family: Cormorant;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  color: #BE9667;
  margin-bottom: 20px;
}

.text-imperdivel ul {
  list-style-type: none;
  margin-bottom: 60px;
}

.lista-imperdivel li {
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  color: var(--White);
  margin-bottom: 20px;
}

.lista-imperdivel li span {
  color: #BE9667;
}

.text-imperdivel button {
  height: 50px;
  width: 350px;
  border-radius: 2px;
  color: #E5E5E5;
  background-color: var(--Dourado);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  transition: all .4s linear;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.25);
}

.text-imperdivel button:hover {
  background-color: #727272;
}

/*camisaria*/

.camisaria {
  padding: 62px 160px;
  align-items: center;
  margin-bottom: 20px;
}

.flex-row-camisaria {
  display: flex;
  justify-content: space-between;
}

.text-camisaria {
  margin-right: 336px;
  border: 1px solid rgba(130, 130, 130, 0.30);
  padding: 43px 77px;
  border-radius: 5px;
}

.img-camisaria img {
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  right: 20px;
  top: 20px;
  z-index: -1;
}

.img-camisaria div {
  position: relative;
  height: 488px;
  width: 530px;
  border: 1px solid var(--Azul);
}

.img-camisaria div:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text-camisaria h1 {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 75px;
  /* identical to box height */
  text-transform: uppercase;
  /* Azul */
  color: #014561;
  margin-bottom: 20px;
}

.text-camisaria p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-bottom: 50px;
}

.text-camisaria button {
  height: 50px;
  width: 330px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  font-size: normal;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--Azul);
  color: var(--White);
  border: none!important;
  outline-style: none;
  transition: var(--transition-padrao);
}

.text-camisaria button:hover {
  background-color: #013146;
}

.lista-camisaria ul {
  margin-bottom: 50px;
}

.lista-camisaria ul li {
  font-family: Cormorant;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #727272;
}

/*Alfaiataria*/

.alfaiataria {
  padding: 62px 160px;
  align-items: center;
  margin-bottom: 20px;
}

.div-flex-row-alfaiataria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -220px;
}

.flex-row-alfaiataria {
  display: flex;
  justify-content: space-between;
}

.text-alfaiataria {
  margin-left: 363px;
  border: 1px solid rgba(130, 130, 130, 0.30);
  padding: 43px 77px;
  border-radius: 5px;
}

.img-alfaiataria img {
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  right: 20px;
  top: 20px;
  z-index: -1;
}

.img-alfaiataria div {
  position: relative;
  height: 488px;
  width: 530px;
  border: 1px solid var(--Azul);
}

.img-alfaiataria div:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text-alfaiataria h1 {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 300;
  font-size: 62px;
  line-height: 75px;
  /* identical to box height */
  text-transform: uppercase;
  /* Azul */
  color: #014561;
  margin-bottom: 20px;
}

.text-alfaiataria p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-bottom: 50px;
}

.text-alfaiataria button {
  height: 50px;
  width: 330px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  font-size: normal;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--Azul);
  color: var(--White);
  border: none!important;
  outline-style: none;
  transition: var(--transition-padrao);
}

.text-alfaiataria button:hover {
  background-color: #013146;
}

.lista-alfaiataria ul {
  margin-bottom: 50px;
}

.lista-alfaiataria ul li {
  font-family: Cormorant;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #727272;
}

/*depoimentos*/

.depoimentos {
  padding: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 100%, rgba(0, 0, 0, 0.50) 100%), url(../images/background-carousel.png);
  background-size: cover;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--Azul);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: transparent;
  border: 1px solid var(--Azul);
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

.titulos-depoimentos {
  position: relative;
  font-family: Cormorant;
  font-size: 28px;
  width: 216px;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  color: #F2F2F2;
  margin-bottom: 53px;
  top: 20%;
  text-align: center;
}

.titulos-depoimentos::after {
  content: "";
  height: 1px;
  width: 40px;
  background-color: #70B0C4;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  transition: var(--transition-padrao);
}

.titulos-depoimentos:hover::after {
  width: 90%;
  left: 0;
}

.mySlides div {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 151px;
  height: 500px;
}

.mySlides img {
  border-radius: 50%;
  border: 1px solid var(--Dourado);
  margin-bottom: 16px;
}

.mySlides p {
  font-family: Cormorant;
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 31px;
  color: #C4C4C4;
  margin-bottom: 28px;
}

.mySlides h3 {
  font-family: Cormorant;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #BE9667;
  margin-bottom: 3px;
}

.mySlides h4 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #949494;
  margin-bottom: 32px;
}

/*contatos*/

.contato {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  padding: 62px 94px;
}

.contato div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato div .contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 338.72px;
}

.contato div .div-form-contatos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contatos h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  color: #1C86A4;
  text-transform: uppercase;
}

.contatos p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(130, 130, 130, 1);
}

.contatos button {
  height: 50px;
  width: 297px;
  border-radius: 2px;
  color: #E5E5E5;
  background-color: var(--Azul);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s linear;
  outline-style: none;
}

.contatos button:hover {
  border: 1px solid #BE9667;
  color: #BE9667;
  background-color: transparent;
}

.input-area textarea:focus, .input-area input:focus {
  border-color: var(--Azul2) !important;
}

.div-titulos .titulos-contatos {
  position: relative;
  font-family: Cormorant;
  font-size: 38px;
  width: 216px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px;
  color: var(--Azul);
  margin-bottom: 17%;
  top: 20%;
}

.div-titulos .titulos-contatos::after {
  content: "";
  height: 1px;
  width: 40px;
  background-color: var(--Azul2);
  position: absolute;
  bottom: -10px;
  left: calc(50% - 70px);
  transition: var(--transition-padrao);
}

.div-titulos .titulos-contatos:hover::after {
  width: 60%;
  left: 0;
}

.input-area {
  position: relative;
}

.input-area label {
  position: absolute;
  left: 30px;
  top: 12px;
  transition: var(--transition-padrao);
}

.input-active {
  top: -20px !important;
}

.form-contatos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65px;
  margin-right: 10px;
}

.form-contatos .input-area .input {
  height: 42px;
  width: 600px;
  padding-left: 10px;
  text-align: left;
  margin-left: 20px;
  border: 1px solid rgba(130, 130, 130, 0.30);
  margin-bottom: 20px;
  color: var(--Azul2);
  font-weight: bold;
  border-radius: 5px;
  outline-style: none;
}

.form-contatos textarea {
  width: 600px;
  padding-left: 10px;
  text-align: left;
  margin-left: 20px;
  border: 1px solid rgba(130, 130, 130, 0.30);
  margin-bottom: 20px;
  color: var(--Azul2);
  font-weight: bold;
  border-radius: 5px;
  outline-style: none;
  padding-top: 12px;
  resize: none;
}

.form-contatos .btn-form {
  height: 50px;
  width: 600px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  font-size: normal;
  line-height: 22px;
  text-transform: uppercase;
  background-color: var(--Azul);
  color: var(--White);
  border: none!important;
  transition: var(--transition-padrao);
}

.form-contatos .btn-form:hover {
  background-color: var(--Azul2);
}

.form-contatos label {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: var(--Azul2);
  margin-bottom: 2px;
  float: left;
  width: 10em;
  margin-right: 32em;
  display: block;
}

/*footer*/

footer {
  border-top: 2px solid rgba(190, 150, 103, 0.50);
  padding: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

footer div .cnpj {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div p {
  color: rgba(79, 79, 79, 1);
  Size: 14px;
  line-height: 21px;
}

.cnpj p {
  font-size: 12px;
  line-height: 18px;
}

.cnpj img {
  margin-bottom: 15px;
}